#festivals {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center; 
    align-items:flex-start;

    margin-bottom:rem(100,$text-bp-sm);

    @include bp-medium {
        margin-bottom:rem(100,$text-bp-md);
    }

    @include bp-large {
        margin-bottom:rem(100,$text-bp-lg);
    }
}

.festival {
    width:rem(300,$text-bp-sm);

    @include bp-medium {
        width:rem(300,$text-bp-md);
    }

    @include bp-large {
        width:rem(300,$text-bp-lg);
    } 
}