#festivals {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center; 
    align-items:flex-start;

    margin:rem(10,$text-bp-sm) 0 rem(30,$text-bp-sm);

    @include bp-medium {
        margin:rem(20,$text-bp-md) 0 rem(70,$text-bp-md);
    }

    @include bp-large {
        margin:rem(20,$text-bp-lg) 0 rem(70,$text-bp-lg);
    }
}

.festival {
    height:rem(100,$text-bp-sm);
    margin:rem(20,$text-bp-sm);

    @include bp-medium {
        height:rem(150,$text-bp-md);
        margin:rem(20,$text-bp-md);
    }

    @include bp-large {
        height:rem(150,$text-bp-lg);
        margin:rem(20,$text-bp-lg);
    }
    img {
        width:auto;
        height: 100%;
    } 
}