#headlines-section {
    
}

.gallery {
    text-align: center;

    margin-bottom:rem(50,$text-bp-sm);

    @include bp-medium {
        margin-bottom:rem(50,$text-bp-md);
    }

    @include bp-large {
        margin-bottom:rem(50,$text-bp-lg);
    } 
    .container {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center; 
        align-items:flex-start;

        overflow:visible; 

        .holder {
            width:rem(750,$text-bp-sm);
            margin:rem(40,$text-bp-sm) rem(80,$text-bp-sm);
            height:auto;

            @include bp-medium {
                overflow:hidden;
                flex-wrap:nowrap;
                width:rem(960,$text-bp-md);
                margin: 0;
            }

            @include bp-large {
                width:rem(1000,$text-bp-lg);
            }   

            .thumbs {
                display: flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content:center; 
                transition: margin 1s ease-in-out;
                width:fit-content;
                @include bp-medium {
                    justify-content:flex-start; 
                    flex-wrap:nowrap;
                }

                
            }
        }      
    }
    
}
.gallery-arrow {
    margin:rem(90,$text-bp-sm);     
    @include bp-medium {
        margin:rem(90,$text-bp-md) rem(45,$text-bp-md);
    }

    @include bp-large {
        margin:rem(90,$text-bp-lg) rem(45,$text-bp-lg);
    }  
}
.gallery-arrow,
.page-arrow {
    cursor: initial;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0.2;

    display: none;
    font-size:rem(50,$text-bp-sm);
     
    @include bp-medium {
        display: block;
        font-size:rem(28,$text-bp-md);
    }

    @include bp-large {
        width:rem(50,$text-bp-lg);
        height:rem(50,$text-bp-lg);
        font-size:rem(36,$text-bp-lg);
    } 
    &.active {
        cursor: pointer;
        opacity: 1;
    } 
    &.left {
        background-image: url(../img/arrow_left.png);
    }
    &.right {
        background-image: url(../img/arrow_right.png);
    }
    transition: all 0.25s ease-in-out;  
}

.gallery-arrow.active:hover {
    &.left {

        @include bp-large {
            transform: translateX(rem(-10,$text-bp-lg));
            
        } 
    }

    &.right {

        @include bp-large {
            transform: translateX(rem(10,$text-bp-lg));
            
        } 
    }

}
.gallery-thumb {
	display: flex;
	flex-direction:column;
    flex-wrap: wrap;
	cursor: pointer;
    text-align: center;

    width:rem(270,$text-bp-sm);
	margin: 0 rem(12,$text-bp-sm) rem(40,$text-bp-sm) rem(12,$text-bp-sm);

	@include bp-medium {
        width:rem(400,$text-bp-md);
        margin: 0 rem(40,$text-bp-md) rem(40,$text-bp-md) rem(40,$text-bp-md);
    }

	@include bp-large {
        width:rem(400,$text-bp-lg);
        margin: 0 rem(50,$text-bp-lg) rem(50,$text-bp-lg) rem(50,$text-bp-lg);
    } 

	.thumb-img {
		width:inherit;
		margin:0 0 rem(30,$text-bp-sm) 0;
	    @include bp-medium {
	        margin:0  0 rem(32   ,$text-bp-md) 0;
	    }

	    @include bp-large {
	        margin:0 0 rem(40,$text-bp-lg) 0;
	    } 
	}
	.info {
        display: flex;
        flex-direction:column;
        color: #fff;
        text-align: left;
	    @include bp-medium {
	    }

	    @include bp-large {
	    } 
	    >.title {
            display: inline;
            font-family: $headline-font;
            color:#fff;
            font-size:rem(24,$text-bp-sm);
            line-height:rem(30,$text-bp-sm);
            margin-bottom: rem(15,$text-bp-sm);
             
            @include bp-medium {
                font-size:rem(28,$text-bp-md);
                line-height:rem(32,$text-bp-md);
                margin-bottom: rem(15,$text-bp-md);
            }

            @include bp-large {
                font-size:rem(25,$text-bp-lg);
                line-height:rem(30,$text-bp-lg);
                margin-bottom: rem(10,$text-bp-lg);
            }    
        }
        >.date,
        >.sub {
            font-family: $headline-font;

            font-size:rem(18,$text-bp-sm);
            line-height:rem(21,$text-bp-sm);
            margin-bottom: rem(15,$text-bp-sm);
             
            @include bp-medium {
                font-size:rem(21,$text-bp-md);
                line-height:rem(24,$text-bp-md);
                margin-bottom: rem(15,$text-bp-md);
            }

            @include bp-large {
                font-size:rem(21,$text-bp-lg);
                line-height:rem(24,$text-bp-lg);
                margin-bottom: rem(14,$text-bp-lg);
            }   
        }
        >.excerpt {

            font-size:rem(18,$text-bp-sm);
            line-height:rem(28,$text-bp-sm);
            margin-bottom: rem(15,$text-bp-sm);
             
            @include bp-medium {
                font-size:rem(18,$text-bp-md);
                line-height:rem(24,$text-bp-md);
                margin-bottom: rem(15,$text-bp-md);
            }

            @include bp-large {
                font-size:rem(18,$text-bp-lg);
                line-height:rem(24,$text-bp-lg);
                margin-bottom: rem(14,$text-bp-lg);
            }   
        }	
	}
    .content {
        display: none;
    }
}

.pips {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: rem(25,$text-bp-sm);

    @include bp-medium {
        display: flex;
        margin: rem(25,$text-bp-md);
    }

    @include bp-large {
        margin: rem(25,$text-bp-lg);
    } 
    .pip {
        cursor: pointer;
        background-color: #fff;
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;

        @include bp-medium {
        }

        @include bp-large {
            border-radius: rem(10,$text-bp-lg);
            width: rem(15,$text-bp-lg);
            height: rem(15,$text-bp-lg);
            margin: rem(10,$text-bp-lg);
        } 

        &.active {
            opacity: 1;
        }
    }
}
