header {

    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start; 
    align-items:center;

    background-image: url(../img/header-background.jpg);
    background-size: 100% auto;
    background-color: #000;
    
    background-repeat: no-repeat;

    background-position: 0 rem(20,$text-bp-sm);
    width: rem(750,$text-bp-sm);
    height: rem(330,$text-bp-sm);

    @include bp-medium {
        background-position: 0 0;
        width: rem(1270,$text-bp-md);
        height: rem(660,$text-bp-md);
    }

    @include bp-large {
        width: rem(1600,$text-bp-lg);
        height: rem(630,$text-bp-lg);
    }
    &.category {
        height: rem(290,$text-bp-sm);

        @include bp-medium {
            height: rem(300,$text-bp-md);
        }

        @include bp-large {
            height: rem(300,$text-bp-lg);
        }
    }


}


.company-logo {

    margin-top: rem(30,$text-bp-sm);  
    width: rem(350,$text-bp-sm);   

    @include bp-medium {
        margin-top: rem(30,$text-bp-md);  
        width: rem(650,$text-bp-md);  
    }

    @include bp-large {
        margin-top: rem(30,$text-bp-lg);  
        width: rem(650,$text-bp-lg);  
    } 
}

#trending,
.film-by {
    font-family: $headline-font;
    text-align: center;

    font-size: rem(18,$text-bp-sm);
    line-height: rem(24,$text-bp-sm);

    @include bp-medium {
        font-size: rem(21,$text-bp-md);
        line-height: rem(24,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(21,$text-bp-lg);
        line-height: rem(24,$text-bp-lg);
    }  

}

.presents {
    font-family: $headline-font;
    text-align: center;

    font-size: rem(18,$text-bp-sm);
    line-height: rem(28,$text-bp-sm);

    @include bp-medium {
        font-size: rem(18,$text-bp-md);
        line-height: rem(28,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(18,$text-bp-lg);
        line-height: rem(28,$text-bp-lg);
    }  

}

.site-title {
    font-family: $headline-font;
    color: $color-red;
    margin-top: rem(30,$text-bp-sm); 
    font-size: rem(45,$text-bp-sm);
    line-height: rem(36,$text-bp-sm);

    @include bp-medium {
        margin-top: rem(100,$text-bp-md); 
        font-size: rem(48,$text-bp-md);
        line-height: rem(55,$text-bp-md);
    }

    @include bp-large {
        margin-top: rem(100,$text-bp-lg);  
        font-size: rem(80,$text-bp-lg);
        line-height: rem(85,$text-bp-lg);
    }   
}

.more-btn {
    font-family: $nav-font;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: rem(48,$text-bp-sm);
    line-height: rem(26,$text-bp-sm);

    transition: all 0.25s ease-in-out; 

    @include bp-medium {
        font-size: rem(48,$text-bp-md);
        line-height: rem(55,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(48,$text-bp-lg);
        line-height: rem(55,$text-bp-lg);
    }    
}

.more-btn:hover {
    color: $color-red;
    text-decoration: none;
}


.promo {
    .thumb-promo {

    }
}

.txt-btn {
    cursor: pointer;
    font-family: $headline-font;
    color: $color-headline;
    font-size:rem(72,$text-bp-sm);

    @include bp-medium {
        font-size:rem(80,$text-bp-md);
    }

    @include bp-large {
        font-size:rem(80,$text-bp-lg);
    }  
      
}

.arrow {
    display: inline-block;
    background-image: url(../img/arrow_right.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;

    width:rem(40,$text-bp-sm);
    height:rem(40,$text-bp-sm);
    margin-left:rem(20,$text-bp-sm);   
     
    @include bp-medium {
        width:rem(50,$text-bp-md);
        height:rem(50,$text-bp-md);
        margin-left:rem(30,$text-bp-md);
    }

    @include bp-large {
        width:rem(50,$text-bp-lg);
        height:rem(50,$text-bp-lg);
        margin-left:rem(30,$text-bp-lg);

    } 

}
#trailer-btn {
    margin:rem(200,$text-bp-sm) 0 0 rem(240,$text-bp-sm);

    @include bp-medium {
        margin:rem(300,$text-bp-md) 0 rem(50,$text-bp-md) rem(500,$text-bp-md);
    }

    @include bp-large {
        margin:rem(350,$text-bp-lg) 0 rem(50,$text-bp-lg) rem(660,$text-bp-lg);
    }  

}
#trailer {
    display: inline-block;
    background-image: url(../img/videochat.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top left;
    width: rem(750,$text-bp-sm);
    height: rem(450,$text-bp-sm);

    @include bp-medium {
        
        width: rem(1270,$text-bp-md);
        height: rem(660,$text-bp-md);
    }

    @include bp-large {
        width: rem(1600,$text-bp-lg);
        height: rem(900,$text-bp-lg);
    }
}
