header {

    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start; 
    align-items:center;

    width: rem(750,$text-bp-sm);
    height: rem(660,$text-bp-sm);

    @include bp-medium {
        
        width: rem(1270,$text-bp-md);
        height: rem(660,$text-bp-md);
    }

    @include bp-large {
        width: rem(1600,$text-bp-lg);
        height: rem(660,$text-bp-lg);
    }
    &.category {
        height: rem(290,$text-bp-sm);

        @include bp-medium {
            height: rem(300,$text-bp-md);
        }

        @include bp-large {
            height: rem(300,$text-bp-lg);
        }
    }


}
header {
    position: relative;
    @include bp-medium {
        background: none;
    }
}

.company-logo {

    margin-top: rem(30,$text-bp-sm);  
    width: rem(500,$text-bp-sm);   

    @include bp-medium {
        margin-top: rem(30,$text-bp-md);  
        width: rem(650,$text-bp-md);  
    }

    @include bp-large {
        margin-top: rem(30,$text-bp-lg);  
        width: rem(650,$text-bp-lg);  
    } 
}

#trending,
.film-by {
    font-family: $headline-font;
    text-align: center;

    font-size: rem(21,$text-bp-sm);
    line-height: rem(24,$text-bp-sm);

    @include bp-medium {
        font-size: rem(21,$text-bp-md);
        line-height: rem(24,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(21,$text-bp-lg);
        line-height: rem(24,$text-bp-lg);
    }  

}

.presents {
    font-family: $headline-font;
    text-align: center;

    font-size: rem(18,$text-bp-sm);
    line-height: rem(28,$text-bp-sm);

    @include bp-medium {
        font-size: rem(18,$text-bp-md);
        line-height: rem(28,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(18,$text-bp-lg);
        line-height: rem(28,$text-bp-lg);
    }  

}

.site-title {
    font-family: $headline-font;
    color: $color-red;
    margin-top: rem(100,$text-bp-sm); 
    font-size: rem(30,$text-bp-sm);
    line-height: rem(36,$text-bp-sm);

    @include bp-medium {
        margin-top: rem(100,$text-bp-md); 
        font-size: rem(48,$text-bp-md);
        line-height: rem(55,$text-bp-md);
    }

    @include bp-large {
        margin-top: rem(100,$text-bp-lg);  
        font-size: rem(80,$text-bp-lg);
        line-height: rem(85,$text-bp-lg);
    }   
}

.more-btn {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: rem(1,$text-bp-sm) solid #fff;
    color: #fff;
    font-size: rem(22,$text-bp-sm);
    line-height: rem(26,$text-bp-sm);
    letter-spacing: rem(2,$text-bp-sm);
    padding:rem(20,$text-bp-sm) 0;
    width: rem(244,$text-bp-sm);

    transition: all 0.25s ease-in-out; 

    @include bp-medium {
        font-size: rem(12,$text-bp-md);
        line-height: rem(16,$text-bp-md);
        letter-spacing: rem(2,$text-bp-md);
        padding:rem(15,$text-bp-md) 0;
        width: rem(175,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(15,$text-bp-lg);
        line-height: rem(30,$text-bp-lg);
        letter-spacing: rem(2,$text-bp-lg);
        padding:rem(10,$text-bp-lg) 0;
        width: rem(175,$text-bp-lg);
    }    
}

.more-btn:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}



.quote {
    text-align: center;
    color: $color-yellow;
    font-size: rem(48,$text-bp-sm);
    line-height: rem(52,$text-bp-sm);
    padding:rem(50,$text-bp-sm) rem(150,$text-bp-sm) rem(150,$text-bp-sm) rem(150,$text-bp-sm);

    @include bp-medium {
        font-size: rem(44,$text-bp-md);
        line-height: rem(48,$text-bp-md);
        padding:rem(150,$text-bp-md) rem(150,$text-bp-md) rem(200,$text-bp-md) rem(150,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(50,$text-bp-lg);
        line-height: rem(55,$text-bp-lg);
        padding:rem(150,$text-bp-lg) rem(150,$text-bp-lg) rem(200,$text-bp-lg) rem(150,$text-bp-lg);
    }  

}
.promo {
    .thumb-promo {

    }
}

