.overlay {
    position: fixed;
    z-index: 100;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:hidden;
    opacity: 0;
    display: none;
    transition: all 0.25s ease-in-out; 

    &.active {
        display: block;
        opacity: 1;    
    }

    .holder {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        &.articles {

        }
        .container {
            display: block;
            
            &.videos {

                height: rem(750,$text-bp-sm);

                @include bp-medium {
                    width: rem(1000,$text-bp-md);
                    height: rem(562,$text-bp-md);
                }

                @include bp-large {
                    width: rem(1000,$text-bp-lg);
                    height: rem(562,$text-bp-lg);

                }   
            }
            &.photos {

                width: rem(750,$text-bp-sm);
                
                @include bp-medium {
                    width: rem(1000,$text-bp-md);
                }

                @include bp-large {
                    width: rem(1000,$text-bp-lg);

                }   
            }
            &.articles {

                width: rem(750,$text-bp-md);
                height: 95vh;
                overflow-x:hidden;
                overflow-y:auto;

                @include bp-medium {
                    width: rem(1000,$text-bp-md);
                }

                @include bp-large {
                    width: rem(1400,$text-bp-lg);
                    padding: rem(50,$text-bp-lg) 0;
                }
                .featured-img {
                    float: left;
                    width: rem(700,$text-bp-sm);
                    margin:0 rem(25,$text-bp-sm)  rem(40,$text-bp-sm) rem(25,$text-bp-sm);

                    @include bp-medium {
                        width: rem(500,$text-bp-md);
                        margin:0 rem(50,$text-bp-md) rem(50,$text-bp-md) 0;
                    }

                    @include bp-large {
                        width: rem(600,$text-bp-lg);
                        margin:0 rem(50,$text-bp-lg) rem(50,$text-bp-lg) 0;
                    }  
                }
                .info {
                    width: rem(700,$text-bp-sm);
                    margin:0 rem(25,$text-bp-sm)  rem(40,$text-bp-sm) rem(25,$text-bp-sm);

                    @include bp-medium {
                        width: rem(800,$text-bp-md);
                        margin:rem(40,$text-bp-md) 0 rem(40,$text-bp-md) 0;
                    }

                    @include bp-large {
                        width: rem(400,$text-bp-lg);
                        margin: rem(40,$text-bp-lg) 0 rem(40,$text-bp-lg) 0;
                    } 
                } 
            }
             &.bios {

                width: rem(750,$text-bp-sm);
                
                @include bp-medium {
                    width: rem(1000,$text-bp-md);
                }

                @include bp-large {
                    width: rem(1000,$text-bp-lg);

                }  
                .featured-img {
                    float: left;
                    width: rem(700,$text-bp-sm);
                    margin:0 rem(25,$text-bp-sm)  rem(40,$text-bp-sm) rem(25,$text-bp-sm);

                    @include bp-medium {
                        width: rem(800,$text-bp-md);
                        margin:0 rem(40,$text-bp-md)  rem(40,$text-bp-md) 0;
                    }

                    @include bp-large {
                        width: rem(400,$text-bp-lg);
                        margin:0 rem(50,$text-bp-lg) rem(50,$text-bp-lg) rem(50,$text-bp-lg);
                    }  
                }
                .info {
                    width: rem(700,$text-bp-sm);
                    margin:0 rem(25,$text-bp-sm)  rem(40,$text-bp-sm) rem(25,$text-bp-sm);

                    @include bp-medium {
                        width: rem(800,$text-bp-md);
                        margin:rem(40,$text-bp-md) 0 rem(40,$text-bp-md) 0;
                    }

                    @include bp-large {
                        width: rem(400,$text-bp-lg);
                        margin: rem(40,$text-bp-lg) 0 rem(40,$text-bp-lg) 0;
                    } 
                } 

                
            }
             
                 
            .title {
                font-family: $headline-font;
                color:#fff;
                width: 100%;
                font-size:rem(33,$text-bp-sm);
                line-height:rem(40,$text-bp-sm);
                margin: 0 rem(30,$text-bp-sm) rem(20,$text-bp-sm) rem(30,$text-bp-sm);
                 
                @include bp-medium {
                    font-size:rem(28,$text-bp-md);
                    line-height:rem(32,$text-bp-md);
                    margin: 0 0 rem(20,$text-bp-md) 0;
                }

                @include bp-large {
                    font-size:rem(36,$text-bp-lg);
                    line-height:rem(40,$text-bp-lg);
                    margin: 0 0 rem(20,$text-bp-lg) 0;
                }    
            }
            .sub,
            .content {
                font-family: $headline-font;
                margin: 0 rem(30,$text-bp-sm) rem(15,$text-bp-sm) rem(30,$text-bp-sm);
                 
                @include bp-medium {
                    margin: 0 0 rem(15,$text-bp-md) 0;
                }

                @include bp-large {
                    margin: 0 0 rem(20,$text-bp-lg) 0;
                }   
            }
            
            .content {
                 
            }    
             
        }

    }
    .overlay-nav {
        position: absolute;
        display:flex;
        flex-direction:column;
        justify-content:center;

        background-color: rgba(0,0,0,0.5);

        top: rem(0,$text-bp-sm);
        right: rem(0,$text-bp-sm);
        padding: rem(20,$text-bp-sm);
        @include bp-medium {
            padding: rem(20,$text-bp-md);
        }

        @include bp-large {
            padding: rem(20,$text-bp-lg);
        }
        .close-btn {
            cursor: pointer;

            font-size: rem(36,$text-bp-sm);
            margin-bottom: rem(25,$text-bp-sm);
            @include bp-medium {
                font-size: rem(36,$text-bp-md);
                margin-bottom: rem(25,$text-bp-md);
            }

            @include bp-large {
                font-size: rem(36,$text-bp-lg);
                margin-bottom: rem(25,$text-bp-lg);
            }  
        }
        
    }
    
}

.overlay-arrow {
    cursor: initial;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin:rem(90,$text-bp-sm);
    font-size:rem(50,$text-bp-sm);
    opacity: 0.2;
    display: none;
     
    @include bp-medium {
        display: block;
        margin:rem(90,$text-bp-md) rem(45,$text-bp-md);
        font-size:rem(40,$text-bp-md);
    }

    @include bp-large {
        width:rem(50,$text-bp-lg);
        height:rem(50,$text-bp-lg);
        margin:rem(90,$text-bp-lg) rem(45,$text-bp-lg);
        font-size:rem(36,$text-bp-lg);
    } 
    &.active {
        cursor: pointer;
        opacity: 1;
    } 
    &.left {
        background-image: url(../img/arrow_left.png);
    }
    &.right {
        background-image: url(../img/arrow_right.png);
    }
    transition: all 0.25s ease-in-out;  
}

.overlay-arrow:hover {
    &.active {
        color: $color-yellow;    
    }

}

.share-btns {
    display: flex;

    margin-bottom: rem(0,$text-bp-sm);
         
    @include bp-medium {
        margin-bottom: rem(0,$text-bp-md);
    }

    @include bp-large {
        margin-bottom: rem(0,$text-bp-lg);
    }
    
    &.column {
        flex-direction:column;
        justify-content:center;
    }
    &.row {
        flex-direction:row;
        justify-content:flex-start;
        flex-wrap:nowrap;
    }
    .share {
        font-size:rem(33,$text-bp-sm);
        line-height:rem(40,$text-bp-sm);
        margin-right: rem(10,$text-bp-sm);
         
        @include bp-medium {
            font-size:rem(28,$text-bp-md);
            line-height:rem(32,$text-bp-md);
            margin-right: rem(10,$text-bp-md);
        }

        @include bp-large {
            font-size:rem(36,$text-bp-lg);
            line-height:rem(40,$text-bp-lg);
            margin-right: rem(10,$text-bp-lg);
        } 
    }     
}
