.section-header {
    padding: 0 rem(70,$text-bp-sm); 
    @include bp-medium {
        padding: 0 rem(100,$text-bp-md);
    }

    @include bp-large {
        padding: 0 rem(100,$text-bp-lg);
    }

    .title {
        font-family: $headline-font;
        color: #fff;    
        font-size:rem(36,$text-bp-sm);
        margin-bottom:rem(70,$text-bp-sm); 
        @include bp-medium {
            font-size:rem(32,$text-bp-md);
            margin-bottom:rem(64,$text-bp-md);
        }

        @include bp-large {
            font-size:rem(40,$text-bp-lg);
            margin-bottom:rem(80,$text-bp-lg);
        } 
    }
    .sub {
        color: #fff;    
        font-size:rem(22,$text-bp-sm);
        margin-bottom:rem(10,$text-bp-sm); 
        @include bp-medium {
            font-size:rem(14,$text-bp-md);
            margin-bottom:rem(10,$text-bp-md);
        }

        @include bp-large {
            font-size:rem(14,$text-bp-lg);
            margin-bottom:rem(10,$text-bp-lg);
        } 
    }
    
}

.section-title {
    text-align: left;
    font-family: $headline-font;
    color: $color-headline;
    font-size:rem(36,$text-bp-sm);
    margin:rem(50,$text-bp-sm) 0 0 rem(50,$text-bp-sm);

    @include bp-medium {
        font-size:rem(36,$text-bp-md);
        margin:rem(100,$text-bp-md) 0 rem(50,$text-bp-md) rem(345,$text-bp-md);
    }

    @include bp-large {
        font-size:rem(48,$text-bp-lg);
        margin:rem(100,$text-bp-lg) 0 rem(50,$text-bp-lg) rem(345,$text-bp-lg);
    }   
}
.thumb-holder {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content: center;
}

.page-nav {
    text-align: center;
    font-size:rem(75,$text-bp-sm);
    margin:rem(30,$text-bp-sm); 
    @include bp-medium {
        font-size:rem(36,$text-bp-md);
        margin:rem(20,$text-bp-md);
    }

    @include bp-large {
        font-size:rem(40,$text-bp-lg);
        margin:rem(20,$text-bp-lg);
    }
    a {
        margin:rem(30,$text-bp-sm); 
        @include bp-medium {
            margin:rem(20,$text-bp-md);
        }

        @include bp-large {
            margin:rem(20,$text-bp-lg);
        }    
    }
}

