.quote {
	display: flex;
	background-position: 0% 0%;
	background-size: 100% auto;
	width: 100%;

	height: rem(250,$text-bp-sm);

    @include bp-medium {
        
        height: rem(750,$text-bp-md);
    }

    @include bp-large {
        height: rem(750,$text-bp-lg);
    }

    .holder {

    	font-family: $headline-font;
    	text-align: center;
    	width: rem(330,$text-bp-sm);
    	margin-top: rem(50,$text-bp-sm);

	    @include bp-medium {
	        
	        width: rem(500,$text-bp-md);
	        margin-top: rem(130,$text-bp-md);
	    }

	    @include bp-large {
	        width: rem(600,$text-bp-lg);
	        margin-top: rem(130,$text-bp-lg);
	    }

	    &.left {
	    	margin-left: rem(60,$text-bp-sm);
	    	@include bp-medium {
	        
		        margin-left: rem(230,$text-bp-md);
		    }

		    @include bp-large {
		        margin-left: rem(200,$text-bp-lg);
		    }
	    }
	    &.right {
	    	margin-left: rem(360,$text-bp-sm);
	    	@include bp-medium {
	        
		        margin-left: rem(280,$text-bp-md);
		    }

		    @include bp-large {
		        margin-left: rem(900,$text-bp-lg);
		    }
	    }
    	.txt {
    		color:#fff;
    		
    		text-shadow: rem(5,$text-bp-sm) rem(5,$text-bp-sm) rem(20,$text-bp-sm) black; 
    		font-size: rem(21,$text-bp-sm);
        	line-height: rem(24,$text-bp-sm);

        	@include bp-medium {
        		text-shadow: rem(5,$text-bp-md) rem(5,$text-bp-md) rem(20,$text-bp-md) black; 
		        font-size: rem(50,$text-bp-md);
        		line-height: rem(55,$text-bp-md);
		    }

		    @include bp-large {
		    	text-shadow: rem(5,$text-bp-lg) rem(5,$text-bp-lg) rem(20,$text-bp-lg) black; 
		        font-size: rem(44,$text-bp-lg);
        		line-height: rem(48,$text-bp-lg);
		    }
		    &.long {
		    	font-size: rem(18,$text-bp-sm);
	        	line-height: rem(21,$text-bp-sm);

	        	@include bp-medium {
			        font-size: rem(50,$text-bp-md);
	        		line-height: rem(55,$text-bp-md);
			    }

			    @include bp-large {
			        font-size: rem(33,$text-bp-lg);
	        		line-height: rem(38,$text-bp-lg);
			    }
		    }
    	}
    	.author {
    		color:$color-red;
    		text-shadow: rem(5,$text-bp-sm) rem(5,$text-bp-sm) rem(20,$text-bp-sm) black; 
    		margin-top: rem(24,$text-bp-lg);
    		font-size: rem(18,$text-bp-sm);
        	line-height: rem(21,$text-bp-sm);

        	@include bp-medium {
        		text-shadow: rem(5,$text-bp-md) rem(5,$text-bp-md) rem(20,$text-bp-md) black; 
        		margin-top: rem(24,$text-bp-md);
		        font-size: rem(36,$text-bp-md);
        		line-height: rem(55,$text-bp-md);
		    }

		    @include bp-large {
		    	text-shadow: rem(5,$text-bp-lg) rem(5,$text-bp-lg) rem(20,$text-bp-lg) black; 
		    	margin-top: rem(24,$text-bp-lg);
		        font-size: rem(24,$text-bp-lg);
        		line-height: rem(30,$text-bp-lg);
		    }
    	}
    }
}



