/**
 * Import SASS 
 * Combining files into one, adds them in sequence
 */
/**
 * Global Variables
 */
/* Breakpoint Screen Sizes */
/* Breakpoint Font Root Sizes */
/* Colors */
/* Official Social Media Colors */
/* Fonts */
/**
 * Mixins
 */
/**
 * Media Queries
 */
/**
 * hoverTouch.js implementation
 */
/**
 * Convert pixel sizes to REM
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $root    The root size to convert by
 * @return  {string}  the calculated REM size
 */
/**
 * Convert pixel sizes to VW
 * @arg  {string}  $pixels  The pixel size to convert to REM
 * @arg  {string}  $width   The width to convert by
 * @return  {string}  the calculated VW size
 */
/**
 * Custom Scrollbar Styling
 * @param  {integer} $size       Enter in the increments for size of the scrollbar
 *                               EX: ".5em"
 * @param  {string}  $primary    Enter in the color desired for the primary color
 * @param  {string}  $secondary  Enter in the color desired for the secondary color
 */
/**
 * Imports
 * Add external files into combined sass file
 */
@import url("//use.fontawesome.com/releases/v5.7.2/css/all.css");
@font-face {
  font-family: 'lorabold';
  src: url("../fonts/lora-bold-webfont.woff2") format("woff2"), url("../fonts/lora-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lorabold_italic';
  src: url("../fonts/lora-bolditalic-webfont.woff2") format("woff2"), url("../fonts/lora-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'loraitalic';
  src: url("../fonts/lora-italic-webfont.woff2") format("woff2"), url("../fonts/lora-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/**
 * Keyframe Animations
 */
@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; }
  1% {
    z-index: 3; }
  100% {
    opacity: 1;
    visibility: visible;
    z-index: 3; } }

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 3; }
  99% {
    z-index: 3; }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -2; } }

@keyframes rotateClockwise {
  100% {
    transform: rotate(360deg); } }

/**
 * Global
 */
html, body {
  font-size: 16px; }
  @media only screen and (min-width: 320px) {
    html, body {
      font-size: 1.33333vw; } }
  @media only screen and (min-width: 751px) {
    html, body {
      font-size: 0.7874vw; } }
  @media only screen and (min-width: 1271px) {
    html, body {
      font-size: 0.625vw; } }
  @media only screen and (min-width: 1601px) {
    html, body {
      font-size: 10px; } }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "loraregular", serif;
  overflow-x: hidden;
  color: #fff;
  background-color: #000; }

html {
  margin-top: 0 !important; }

#site {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 2.1rem;
  line-height: 2.8rem; }
  @media only screen and (min-width: 751px) {
    #site {
      font-size: 1.8rem;
      line-height: 2.4rem; } }
  @media only screen and (min-width: 1271px) {
    #site {
      font-size: 1.8rem;
      line-height: 2.4rem; } }

#site-holder {
  display: inline-table;
  min-height: 100vh;
  height: auto;
  width: 75rem; }
  @media only screen and (min-width: 751px) {
    #site-holder {
      width: 127rem; } }
  @media only screen and (min-width: 1271px) {
    #site-holder {
      width: 160rem; } }

img {
  display: block;
  width: 100%;
  height: auto; }

h1, h2, h3 {
  font-weight: normal;
  margin: 0; }

p {
  margin: 1rem 0; }
  @media only screen and (min-width: 751px) {
    p {
      margin: 1rem 0; } }
  @media only screen and (min-width: 1271px) {
    p {
      margin: 2rem 0; } }

a:link {
  color: #fff;
  text-decoration: none; }

a:visited {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #eac80b;
  text-decoration: none; }

a:active {
  color: #fff;
  text-decoration: none; }

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px; }

@media only screen and (min-width: 751px) {
  .mobile {
    display: none; } }

.desktop {
  display: none; }
  @media only screen and (min-width: 751px) {
    .desktop {
      display: block; } }

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75rem; }
  @media only screen and (min-width: 751px) {
    nav {
      width: 127rem; } }
  @media only screen and (min-width: 1271px) {
    nav {
      width: 160rem; } }

#menu-btn {
  color: #eac80b;
  position: absolute;
  right: 5rem;
  top: 12rem;
  z-index: 20;
  font-size: 6rem; }

#menu-close-btn {
  position: absolute;
  color: #eac80b;
  right: 5.2rem;
  top: 11.5rem;
  z-index: 22;
  font-size: 7rem; }

.nav-logo {
  z-index: 1003;
  width: 38rem;
  height: 18rem;
  margin: 5rem 0 10rem 0; }
  @media only screen and (min-width: 751px) {
    .nav-logo {
      width: 30rem;
      height: 14rem;
      margin: 6rem 0; } }
  @media only screen and (min-width: 1271px) {
    .nav-logo {
      width: 38rem;
      height: 17.5rem;
      margin: 6rem 0; } }

.nav-logo img {
  width: 100%;
  height: auto; }

#nav-btns {
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 0; }
  @media only screen and (min-width: 751px) {
    #nav-btns {
      position: static;
      background-color: transparent;
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: auto; } }
  #nav-btns.active {
    width: 100vw;
    height: 100vh; }
    @media only screen and (min-width: 751px) {
      #nav-btns.active {
        height: 0; } }
    @media only screen and (min-width: 1271px) {
      #nav-btns.active {
        height: 0; } }

.social-nav {
  text-align: center;
  flex-direction: row; }

.nav-btn {
  text-align: center;
  font-family: "loraregular", san-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 6rem;
  line-height: 7.2rem;
  margin: 2.5rem 0; }
  @media only screen and (min-width: 751px) {
    .nav-btn {
      font-size: 2.1rem;
      line-height: 2.4rem;
      margin: 0 2.5rem; } }
  @media only screen and (min-width: 1271px) {
    .nav-btn {
      font-size: 2.4rem;
      line-height: 3rem;
      margin: 0 2.5rem; } }

.nav-btn:link {
  color: #fff;
  text-decoration: none; }

.nav-btn:visited {
  color: #fff;
  text-decoration: none; }

.nav-btn:hover {
  color: #eac80b;
  text-decoration: none; }

.social-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #fbf1e3;
  font-size: 5rem;
  padding: 2.5rem 2.5rem; }
  @media only screen and (min-width: 751px) {
    .social-btn {
      font-size: 2.7rem;
      padding: 2rem 1rem; } }
  @media only screen and (min-width: 1271px) {
    .social-btn {
      font-size: 2.7rem;
      padding: 2rem 1rem; } }

.social-btn:hover {
  color: #000;
  text-decoration: none; }

#scroll-up {
  color: #fff;
  position: fixed;
  right: 5rem;
  bottom: -5rem;
  z-index: 20;
  font-size: 6rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }
  @media only screen and (min-width: 751px) {
    #scroll-up {
      font-size: 3.6rem;
      right: 4rem;
      bottom: -5rem; } }
  @media only screen and (min-width: 1271px) {
    #scroll-up {
      font-size: 3.6rem;
      right: 4rem;
      bottom: -5rem; } }
  #scroll-up.active {
    opacity: 1;
    bottom: 5rem;
    transition: opacity 0.5s ease-in-out; }
    @media only screen and (min-width: 751px) {
      #scroll-up.active {
        bottom: 3rem; } }
    @media only screen and (min-width: 1271px) {
      #scroll-up.active {
        bottom: 3rem; } }

header,
#background,
#background-light {
  width: 75rem;
  height: 78rem; }
  @media only screen and (min-width: 751px) {
    header,
    #background,
    #background-light {
      width: 127rem;
      height: 80rem; } }
  @media only screen and (min-width: 1271px) {
    header,
    #background,
    #background-light {
      width: 160rem;
      height: 102rem; } }
  header.category,
  #background.category,
  #background-light.category {
    height: 29rem; }
    @media only screen and (min-width: 751px) {
      header.category,
      #background.category,
      #background-light.category {
        height: 30rem; } }
    @media only screen and (min-width: 1271px) {
      header.category,
      #background.category,
      #background-light.category {
        height: 30rem; } }

header {
  position: relative;
  background-image: url(../img/schedule_background-d.jpg);
  background-size: 100% auto;
  background-position: 0 22rem;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 751px) {
    header {
      background: none; } }

#background {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-out; }
  #background.active {
    opacity: 1; }

#background-light {
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out 2s; }
  #background-light.active {
    opacity: 1; }

#latest {
  position: absolute;
  width: 100%;
  left: 0;
  top: 36rem;
  text-align: center; }
  @media only screen and (min-width: 751px) {
    #latest {
      top: 42rem; } }
  @media only screen and (min-width: 1271px) {
    #latest {
      top: 55rem; } }
  #latest > .sub,
  #latest > .city {
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin: 1.5rem 0; }
    @media only screen and (min-width: 751px) {
      #latest > .sub,
      #latest > .city {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 1.5rem 0; } }
    @media only screen and (min-width: 1271px) {
      #latest > .sub,
      #latest > .city {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 1.5rem 0; } }
  #latest > .title {
    font-size: 6rem;
    line-height: 7rem;
    margin: 1.5rem 0; }
    @media only screen and (min-width: 751px) {
      #latest > .title {
        font-size: 6rem;
        line-height: 7rem;
        margin: 1.5rem 0; } }
    @media only screen and (min-width: 1271px) {
      #latest > .title {
        font-size: 6rem;
        line-height: 7rem;
        margin: 1.5rem 0; } }
  #latest > .venue {
    font-size: 3.6rem;
    line-height: 4rem;
    margin: 1.5rem 0; }
    @media only screen and (min-width: 751px) {
      #latest > .venue {
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 1.5rem 0; } }
    @media only screen and (min-width: 1271px) {
      #latest > .venue {
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 1.5rem 0; } }

#latest-btn {
  margin: 1.5rem 0; }
  @media only screen and (min-width: 751px) {
    #latest-btn {
      margin: 1.5rem 0; } }
  @media only screen and (min-width: 1271px) {
    #latest-btn {
      margin: 1.5rem 0; } }

.yellow-btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: #eac80b;
  color: #000;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0.2rem;
  padding: 2.5rem 0;
  width: 30rem;
  transition: all 0.25s ease-in-out; }
  @media only screen and (min-width: 751px) {
    .yellow-btn {
      font-size: 2.1rem;
      line-height: 2.4rem;
      letter-spacing: 0.2rem;
      padding: 1.5rem 0;
      width: 20rem; } }
  @media only screen and (min-width: 1271px) {
    .yellow-btn {
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: 0.2rem;
      padding: 1.5rem 0;
      width: 25rem; } }

.yellow-btn:hover {
  color: #eac80b;
  background-color: #000;
  text-decoration: none; }

.more-btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0.1rem solid #fff;
  color: #fff;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.2rem;
  padding: 2rem 0;
  width: 24.4rem;
  transition: all 0.25s ease-in-out; }
  @media only screen and (min-width: 751px) {
    .more-btn {
      font-size: 1.2rem;
      line-height: 1.6rem;
      letter-spacing: 0.2rem;
      padding: 1.5rem 0;
      width: 17.5rem; } }
  @media only screen and (min-width: 1271px) {
    .more-btn {
      font-size: 1.5rem;
      line-height: 3rem;
      letter-spacing: 0.2rem;
      padding: 1rem 0;
      width: 17.5rem; } }

.more-btn:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none; }

.quote {
  text-align: center;
  color: #eac80b;
  font-size: 4.8rem;
  line-height: 5.2rem;
  padding: 5rem 15rem 15rem 15rem; }
  @media only screen and (min-width: 751px) {
    .quote {
      font-size: 4.4rem;
      line-height: 4.8rem;
      padding: 15rem 15rem 20rem 15rem; } }
  @media only screen and (min-width: 1271px) {
    .quote {
      font-size: 5rem;
      line-height: 5.5rem;
      padding: 15rem 15rem 20rem 15rem; } }

.section-header.category {
  padding: 0 7rem; }
  @media only screen and (min-width: 751px) {
    .section-header.category {
      padding: 0 10rem; } }
  @media only screen and (min-width: 1271px) {
    .section-header.category {
      padding: 0 10rem; } }

.section-header.schedule {
  padding: 0 7rem; }
  @media only screen and (min-width: 751px) {
    .section-header.schedule {
      padding: 0 10rem; } }
  @media only screen and (min-width: 1271px) {
    .section-header.schedule {
      padding: 0 15rem; } }

.section-header .title {
  color: #eac80b;
  font-size: 3.6rem;
  margin-bottom: 7rem; }
  @media only screen and (min-width: 751px) {
    .section-header .title {
      font-size: 3.2rem;
      margin-bottom: 6.4rem; } }
  @media only screen and (min-width: 1271px) {
    .section-header .title {
      font-size: 4rem;
      margin-bottom: 8rem; } }

.section-header .sub {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 751px) {
    .section-header .sub {
      font-size: 1.4rem;
      margin-bottom: 1rem; } }
  @media only screen and (min-width: 1271px) {
    .section-header .sub {
      font-size: 1.4rem;
      margin-bottom: 1rem; } }

.section-title {
  text-align: left;
  color: #eac80b;
  font-size: 3.6rem;
  margin: 5rem 0 0 5rem; }
  @media only screen and (min-width: 751px) {
    .section-title {
      font-size: 3.6rem;
      margin: 10rem 0 5rem 34.5rem; } }
  @media only screen and (min-width: 1271px) {
    .section-title {
      font-size: 4.8rem;
      margin: 10rem 0 5rem 34.5rem; } }

.thumb-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }

.page-nav {
  text-align: center;
  font-size: 7.5rem;
  margin: 3rem; }
  @media only screen and (min-width: 751px) {
    .page-nav {
      font-size: 3.6rem;
      margin: 2rem; } }
  @media only screen and (min-width: 1271px) {
    .page-nav {
      font-size: 4rem;
      margin: 2rem; } }
  .page-nav a {
    margin: 3rem; }
    @media only screen and (min-width: 751px) {
      .page-nav a {
        margin: 2rem; } }
    @media only screen and (min-width: 1271px) {
      .page-nav a {
        margin: 2rem; } }

#schedule {
  background-image: none;
  background-size: 100% auto;
  background-position: top left;
  min-height: auto;
  padding: 6rem; }
  @media only screen and (min-width: 751px) {
    #schedule {
      background-image: url(../img/schedule_background-d.jpg);
      min-height: 89rem;
      padding: 1.5rem 1.5rem 1.5rem 60rem; } }
  @media only screen and (min-width: 1271px) {
    #schedule {
      min-height: 120rem;
      padding: 2rem 2rem 2rem 80rem; } }
  #schedule .schedule-thumbs {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: flex-end; }

#schedule-more {
  margin-left: 36rem; }
  @media only screen and (min-width: 751px) {
    #schedule-more {
      margin-left: 34rem; } }
  @media only screen and (min-width: 1271px) {
    #schedule-more {
      margin-left: 44rem; } }

.thumb-schedule {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0 0 4rem 0; }
  @media only screen and (min-width: 751px) {
    .thumb-schedule {
      margin: 0.5rem 0.5rem 3.2rem 0.5rem; } }
  @media only screen and (min-width: 1271px) {
    .thumb-schedule {
      margin: 0.5rem 4rem 3.5rem 0rem; } }
  .thumb-schedule .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 36.5rem; }
    @media only screen and (min-width: 751px) {
      .thumb-schedule .info {
        width: 34rem; } }
    @media only screen and (min-width: 1271px) {
      .thumb-schedule .info {
        width: 44rem; } }
    .thumb-schedule .info .date-time {
      font-size: 3.6rem;
      line-height: 4rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 751px) {
        .thumb-schedule .info .date-time {
          font-size: 3.4rem;
          line-height: 4rem;
          margin-bottom: 2rem; } }
      @media only screen and (min-width: 1271px) {
        .thumb-schedule .info .date-time {
          font-size: 4.2rem;
          line-height: 4.8rem;
          margin-bottom: 1rem; } }
    .thumb-schedule .info .venue-city .venue {
      font-size: 2.6rem;
      line-height: 3rem;
      margin-bottom: 0.5rem; }
      @media only screen and (min-width: 751px) {
        .thumb-schedule .info .venue-city .venue {
          font-size: 1.7rem;
          line-height: 2.1rem;
          margin-bottom: 0.5rem; } }
      @media only screen and (min-width: 1271px) {
        .thumb-schedule .info .venue-city .venue {
          font-size: 2.5rem;
          line-height: 3rem;
          margin-bottom: 0.5rem; } }
    .thumb-schedule .info .venue-city .city {
      font-size: 2.2rem;
      line-height: 2.6rem;
      margin-bottom: 0.5rem; }
      @media only screen and (min-width: 751px) {
        .thumb-schedule .info .venue-city .city {
          font-size: 1.4rem;
          line-height: 1.8rem;
          margin-bottom: 0.5rem; } }
      @media only screen and (min-width: 1271px) {
        .thumb-schedule .info .venue-city .city {
          font-size: 1.4rem;
          line-height: 1.8rem;
          margin-bottom: 0.5rem; } }

.tickets-btn {
  text-align: center;
  display: inline-block;
  font-family: "loraregular", san-serif;
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  padding: 2rem 0;
  width: 24.4rem; }
  @media only screen and (min-width: 751px) {
    .tickets-btn {
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      padding: 1rem 0;
      width: 17.5rem; } }
  @media only screen and (min-width: 1271px) {
    .tickets-btn {
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      padding: 1rem 0;
      width: 17.5rem; } }

.tickets-btn:hover {
  background-color: #eac80b; }

.gallery {
  text-align: center;
  margin-bottom: 5rem; }
  @media only screen and (min-width: 751px) {
    .gallery {
      margin-bottom: 5rem; } }
  @media only screen and (min-width: 1271px) {
    .gallery {
      margin-bottom: 5rem; } }
  .gallery .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: visible; }
    .gallery .container .holder {
      width: 75rem;
      margin: 7rem 4.5rem;
      height: auto; }
      @media only screen and (min-width: 751px) {
        .gallery .container .holder {
          overflow: hidden;
          flex-wrap: nowrap;
          width: 80rem;
          margin: 0; } }
      @media only screen and (min-width: 1271px) {
        .gallery .container .holder {
          width: 100rem; } }
      .gallery .container .holder .thumbs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        transition: margin 1s ease-in-out;
        width: fit-content; }
        @media only screen and (min-width: 751px) {
          .gallery .container .holder .thumbs {
            flex-wrap: nowrap; } }

.gallery-arrow {
  cursor: initial;
  margin: 9rem;
  font-size: 5rem;
  opacity: 0.2;
  display: none;
  transition: all 0.25s ease-in-out; }
  @media only screen and (min-width: 751px) {
    .gallery-arrow {
      display: block;
      margin: 9rem 4.5rem;
      font-size: 2.8rem; } }
  @media only screen and (min-width: 1271px) {
    .gallery-arrow {
      margin: 9rem 4.5rem;
      font-size: 3.6rem; } }
  .gallery-arrow.active {
    cursor: pointer;
    opacity: 1; }

.gallery-arrow:hover.active {
  color: #eac80b; }

.gallery-thumb {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  text-align: center;
  width: 30rem;
  margin: 0 1.2rem 4rem 1.2rem; }
  @media only screen and (min-width: 751px) {
    .gallery-thumb {
      width: 32rem;
      margin: 0 4rem 4rem 4rem; } }
  @media only screen and (min-width: 1271px) {
    .gallery-thumb {
      width: 40rem;
      margin: 0 5rem 5rem 5rem; } }
  .gallery-thumb .thumb-img {
    width: 30rem;
    margin: 0 0 3rem 0; }
    @media only screen and (min-width: 751px) {
      .gallery-thumb .thumb-img {
        width: 32rem;
        margin: 0 0 3.2rem 0; } }
    @media only screen and (min-width: 1271px) {
      .gallery-thumb .thumb-img {
        width: 40rem;
        margin: 0 0 4rem 0; } }
  .gallery-thumb .info {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: left; }
    .gallery-thumb .info > .title {
      display: inline;
      font-family: "loraregular", san-serif;
      color: #fff;
      font-size: 3.3rem;
      line-height: 4rem;
      margin-bottom: 1.5rem; }
      @media only screen and (min-width: 751px) {
        .gallery-thumb .info > .title {
          font-size: 2.8rem;
          line-height: 3.2rem;
          margin-bottom: 1.5rem; } }
      @media only screen and (min-width: 1271px) {
        .gallery-thumb .info > .title {
          font-size: 2.5rem;
          line-height: 3rem;
          margin-bottom: 1rem; } }
    .gallery-thumb .info > .date {
      font-weight: 700;
      margin-bottom: 1.5rem; }
      @media only screen and (min-width: 751px) {
        .gallery-thumb .info > .date {
          margin-bottom: 1.5rem; } }
      @media only screen and (min-width: 1271px) {
        .gallery-thumb .info > .date {
          margin-bottom: 1.4rem; } }

.pips {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5rem; }
  @media only screen and (min-width: 751px) {
    .pips {
      display: flex;
      margin: 5rem; } }
  @media only screen and (min-width: 1271px) {
    .pips {
      margin: 5rem; } }
  .pips .pip {
    cursor: pointer;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out; }
    @media only screen and (min-width: 1271px) {
      .pips .pip {
        border-radius: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem; } }
    .pips .pip.active {
      opacity: 1; }

.overlay {
  position: fixed;
  z-index: 100;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  display: none;
  transition: all 0.25s ease-in-out;
  font-size: 3.6rem; }
  @media only screen and (min-width: 751px) {
    .overlay {
      font-size: 3.6rem; } }
  @media only screen and (min-width: 1271px) {
    .overlay {
      font-size: 3.6rem; } }
  .overlay.active {
    display: block;
    opacity: 1; }
  .overlay .holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .overlay .holder .content {
      width: 70rem; }
      @media only screen and (min-width: 751px) {
        .overlay .holder .content {
          width: 100rem; } }
      @media only screen and (min-width: 1271px) {
        .overlay .holder .content {
          width: 100rem; } }
      .overlay .holder .content.videos {
        height: 42.2rem; }
        @media only screen and (min-width: 751px) {
          .overlay .holder .content.videos {
            width: 100rem;
            height: 56.2rem; } }
        @media only screen and (min-width: 1271px) {
          .overlay .holder .content.videos {
            width: 100rem;
            height: 56.2rem; } }
  .overlay .close-btn {
    cursor: pointer;
    position: absolute;
    top: 5rem;
    right: 5rem; }
    @media only screen and (min-width: 751px) {
      .overlay .close-btn {
        top: 5rem;
        right: 5rem; } }
    @media only screen and (min-width: 1271px) {
      .overlay .close-btn {
        top: 5rem;
        right: 5rem; } }

.overlay-arrow {
  cursor: initial;
  margin: 9rem;
  font-size: 5rem;
  opacity: 0.2;
  display: none;
  transition: all 0.25s ease-in-out; }
  @media only screen and (min-width: 751px) {
    .overlay-arrow {
      display: block;
      margin: 9rem 4.5rem;
      font-size: 4rem; } }
  @media only screen and (min-width: 1271px) {
    .overlay-arrow {
      margin: 9rem 4.5rem;
      font-size: 3.6rem; } }
  .overlay-arrow.active {
    cursor: pointer;
    opacity: 1; }

.gallery-arrow:hover.active {
  color: #eac80b; }

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: #071c37;
  font-size: 1.8rem; }
  @media only screen and (min-width: 751px) {
    #footer {
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.2rem; } }
  @media only screen and (min-width: 1271px) {
    #footer {
      font-size: 1.2rem; } }
  #footer #copyright,
  #footer .social-nav {
    margin: 1rem 12rem; }
    @media only screen and (min-width: 751px) {
      #footer #copyright,
      #footer .social-nav {
        margin: 0.8rem 9.6rem; } }
    @media only screen and (min-width: 1271px) {
      #footer #copyright,
      #footer .social-nav {
        margin: 1rem 12rem; } }

#footer a:link {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:link {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:link {
      color: #b6b6b6; } }

#footer a:visited {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:visited {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:visited {
      color: #b6b6b6; } }

#footer a:hover {
  color: #FFF;
  text-decoration: underline; }
  @media only screen and (min-width: 751px) {
    #footer a:hover {
      color: #FFF; } }
  @media only screen and (min-width: 1271px) {
    #footer a:hover {
      color: #FFF; } }

#footer a:active {
  color: #b6b6b6;
  text-decoration: none; }
  @media only screen and (min-width: 751px) {
    #footer a:active {
      color: #b6b6b6; } }
  @media only screen and (min-width: 1271px) {
    #footer a:active {
      color: #b6b6b6; } }
